@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* globals.css */

body {
  background-color: black;
  background-image: 
    radial-gradient(circle 400px at 50% 300px, #fbfbfb36, #000), 
    linear-gradient(to right, #4f4f4f2e 1px, transparent 1px), 
    linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  background-size: auto, 14px 24px, 14px 24px;
  background-repeat: no-repeat, repeat, repeat;
  background-attachment: fixed, scroll, scroll;
  background-position: center top, left top, left top;
  height: 100%;
  width: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: aqua;
}
::-webkit-scrollbar-thumb{
  background-color: blue;
  border-radius: 10px;
}
