/* rated.css */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.searchBox {
    position: fixed;
    top: 14vh;
    right: 50px;
    z-index: 100;
  }
  
.cards-wrapper {
    max-width: 1200px; /* Adjust as needed */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(45.33% - 20px); /* Calculate width for three cards in a row */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
}

.prev-button,
.next-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.prev-button {
    background-color: cyan;
    color: white;
}

.next-button {
    background-color: white;
    color: cyan;
}

.prev-button:disabled,
.next-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
